@btn-color: #c7267d;

.create-note-form {
  text-align: center;
  .form-header {
    border-bottom: 1px solid #ccc
  }
  .title-input-wrapper, .description-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 120px;
    input, textarea {
      width: 100%;
      height: 30px;
      font-size: 20px;
      margin-top: 10px;
    }
    textarea {
      height: 200px;
    }
  }
  .description-input-wrapper {
    height: 300px;
    justify-content: start;
  }
  .button-wrapper {
    button {
      width: 140px;
      height: 40px;
      outline: none;
      background-color: @btn-color;
      margin: 0 20px;
      cursor: pointer;
      &:nth-child(2) {
        background-color: #eee;
      }
    }
  }
}

.btn-disable {
  background-color: lighten(@btn-color, 20%);
}