.note-list-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 60px;
  .note-item {
    margin: 10px 20px;
    &:nth-child(odd) {
      background-color: orange;
    }
  }
}