.note-detail {
  display: flex;
  align-items: stretch;
  padding: 0 60px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  .refer-wrapper {
    flex: 1;
    background-color: #eee;
  }
  .content-wrapper {
    flex: 3;
    padding: 0 20px;
  }
}