.note-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #9b7eee;
  span {
    font-size: 30px;
    color: #fff;
    margin-right: 48px;
  }
  .icon-wrapper {
    float: left;
    margin-left: 20px;
    display: flex;
    height: 50px;
    align-items: center;
  }
}