.note-item {
  width: 180px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 24px;
  background-color: #ff9757;
  box-shadow: 10px 10px 5px #ccc;
  cursor: pointer;
}