.note-refer {
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding: 0 20px;
    li {
      list-style: none;
      line-height: 30px;
      padding-left: 10px;
      margin: 15px 0;
      a {
        display: block;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.link-active {
  background-color: #ccc;
}