.App {
  background: #fff;
  width: 1000px;
  min-height: 700px;
  margin: 0 auto;
  border: 1px solid #000;
  position: relative;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}